<!DOCTYPE html>
<html lang="en">


  <body>
    <% let header = "Welcome to the Page"; %>
    <%/*studentData is shown on server side only, and not in browser */%>

    <h1><%= header; %></h1>
    <p><%=  (Object.getOwnPropertyNames(weatherToday)); %></p>
  <script src="server.js"></script>
 
  </body>
</html>
