<!DOCTYPE html>
<html lang="en">


  <body>
    <% let header = "Welcome to the Page"; %>
    <%/*studentData is shown on server side only, and not in browser */%>

    <h1><%= header; %></h1>
    <p><%= data[{'location'}]; %></p>
  

 
  </body>
</html>
