<!DOCTYPE html>
<html lang="en">


  <body>
    <% let header = "Welcome to the Page"; %>
    <%/*studentData is shown on server side only, and not in browser */%>
    <h1><%= header; %></h1>
    <h2><%= icon; %></h2>
    <h3><%= temp; %></h3>
    <h3><%= weather; %></h6>
     <%#- include('./partials/navigation') %> 
  </body>
</html>
